*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #C5E1D9;
    .back{
        background: url('./src/assets/OBJECTS.svg') no-repeat bottom center scroll;
        background-position: 30% 45%;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute ;
        display: block;


        z-index: -1;
    }
        header{
        width: "100%";
        display: flex;
        flex-direction: row;

        background-color: #006862;

            .logo_area{
                padding: 12px;
                width: 10%;
                height: 100%;
                align-items: center;
                justify-content: end;
            }
            .separador{
                flex: 1;
            }
            nav{   
                display: flex;
                flex-direction: row;
                .link{
                    height:100%;
                    text-decoration: none;
                }
                span{
                    padding: 0 20px 0 20px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                        p{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: large;
                            color: #DFDFDF;
                        }
                }
                span:hover{
                    background-color: #FF8F00;
                }

            }
        }
        main{
            width: 100%;
            height: 100% - 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                .description{
                    margin-top: 40px;
                    padding: 22px;
                    width: 570px ;
                    background-color: #006863da;
                    border-radius: 12px;
                }
                p{
                    text-align: center;
                    font-size: 18pt;
                    color: white;
                }
        }

}

/* Mobile (até 480px) */
@media all and (max-width: 480px) {
    /* Estilos para mobile aqui */

    body>.back{
        background: url('../src/assets/OBJECTS.svg') no-repeat bottom center scroll;
        background-position: 30% 100%;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: fixed ;
        display: block;  
        bottom: 0;      
    }
    body>header{
        height: 60px;
    }
    body>header>.logo_area>img{
        height: 100%;
    }
    body>header>nav>.link>span{
        padding: 8px;
    }
    body>header>nav>.link>span>p{
        font-size: 10pt;
    }
    body>main>div{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body>main>div>img{
        width: 90%;
    }
    body>main>.description{
        width: 90%;
    }

}

/* Tablet (481px até 720px) */
@media screen and (min-width: 481px) and (max-width: 720px) {
    /* Estilos para tablet aqui */
    body>.back{
        background: url('../src/assets/OBJECTS.svg') no-repeat bottom center scroll;
        background-position: 30% 100%;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: fixed ;
        display: block;  
        bottom: 0;      
    }
    body>header{
        height: 60px;
    }
    body>header>.logo_area>img{
        height: 100%;
    }
    body>header>nav>.link>span{
        padding: 8px;
    }
    body>header>nav>.link>span>p{
        font-size: 12pt;
    }
    body>main>div{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body>main>div>img{
        width: 90%;
    }
    body>main>.description{
        width: 90%;
    }
}

/* Desktop pequeno (721px até 1366px) */
@media screen and (min-width: 721px) and (max-width: 1366px) {
    /* Estilos para desktop pequeno aqui */
    body>.back{
        background: url('../src/assets/OBJECTS.svg') no-repeat bottom center scroll;
        background-position: 30% 100%;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: fixed ;
        display: block;  
        bottom: 0;      
    }
    body>header{
        height: 60px;
    }
    body>header>.logo_area>img{
        height: 100%;
    }
    body>header>nav>.link>span{
        padding: 8px;
    }
    body>header>nav>.link>span>p{
        font-size: 12pt;
    }
    body>main>div{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body>main>div>img{
        width: 100%;
    }
    body>main>.description{
        width: 90%;
    }
}

/* Desktop grande (maior que 1366px) */
@media screen and (min-width: 1367px) {
    /* Estilos para desktop grande aqui */
}
