*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #C5E1D9;
    .back{
        background: url('../src/assets/OBJECTS.svg') no-repeat bottom center scroll;
        background-position: 30% 45%;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute ;
        display: block;


        z-index: -1;
    }
        header{
        width: "100%";
        height: 80PX;
        display: flex;
        flex-direction: row;

        background-color: #006862;

            .logo_area{
                padding: 12px;
                width: 10%;
                height: 100%;
                align-items: center;
                justify-content: end;
            }
            .separador{
                flex: 1;
            }
            nav{   
                display: flex;
                flex-direction: row;
                .link{
                    height:100%;
                    text-decoration: none;
                }
                span{
                    padding: 0 20px 0 20px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                        p{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: large;
                            color: #DFDFDF;
                        }
                }
                span:hover{
                    background-color: #FF8F00;
                }
                .span_select{
                    background-color: #FF8F00;
                        p{
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: 600;
                            font-size: large;
                            color: #DFDFDF;
                        }
                }

            }
        }
        main{
            width: 100%;
            height: 80%;
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            align-items: center;
                .areas{
                    margin-top: 40px;
                    padding: 22px;
                    width: 49%;
                    height: 100%;
                    .wake_logo{
                        margin-left: 80px;
                        margin-top: 50px;
                        width: 70%;
                    }
                    .form{
                        padding: 10px;                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    form{
                        padding: 15px;
                        width: 80%;
             
                        background-color: #FF8F00;
                        border-radius: 15px;
                        .primeiroFormulario{
                            display: flex;
                            flex-direction: column;
                        }
                        .segundoFormulario{
                            display: none;
                            flex-direction: column;
                        }
                        h2{
                            font-weight: 300;
                            text-align: center;
                            color: #fff;
                        }
                        .tituloInformacao{
                            margin-top: 17px;
                            font-weight: 600;
                        }
                        .inputArea{
                            margin-top: 20px;
                            width: 100%;
                            height: 35px;
                            display: flex;
                            gap: 10px;
                            .textInput{
                                flex: 1;
                                padding: 6px;
                                font-size: large;
                                color: #222;
                                border-radius: 6px;
                                border: none;                                
                            }
                            .textInput:focus{
                                outline: 2px solid #006862;
                            }
                            button{
                                flex: 1;
                                padding: 6px;
                                font-size: large;
                                border-radius: 6px;
                                border: none;
                                background-color: #00b4ab;
                                color: white;
                            }
                            .buttonCancel{
                                background-color: #be3e3e;
                                color: white;
                            }
                            button:hover{
                                background-color: #006862;
                                color: white;
                                font-weight: 600;
                            }
                            .buttonCancel:hover{
                                background-color: #790000;
                                color: white;
                                font-weight: 600;
                            }
                        }
                    }

                }
                .areas_form{

                }
                p{
                    text-align: center;
                    font-size: 18pt;
                    color: white;
                }
        }

}


